*~
*.swp
*.swo
.sass-cache
.local
*.DS_Store
.idea/

/assets/cache/
/assets/components/
/connectors/
/core/
/manager/
/setup/
.htaccess
config.core.php
ht.access
index.php

/assets/semantic/src/local.less
/assets/semantic/src/definitions/
/assets/semantic/src/themes/*
!assets/semantic/src/themes/project/
/assets/semantic/tasks/
/assets/vendor/
/node_modules/

/packages/
/_backup/
/_romanesco/
/_operations/vendor/
/_operations/config.sh

.extras.io.key
.modmore.com.key

robots.txt